/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-header {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.masthead-brand {
    align-self: center;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    margin-left: 15px;
}

.nav-masthead {
    margin-right: 15px;
    width: 15rem;
    align-self: center;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

.nav-masthead .nav-link {
    padding: 0;
    font-weight: bold;
    color: rgba(255,255,255,.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255,255,255,.25);
}

.nav {
    justify-content: space-around;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

#map {
  height:100%;
  text-shadow: none;
}

.cover-heading {
  font-variant:small-caps;
}

.btn-secondary:hover {
    background-color: #ddd;
}
